@charset "utf-8";

/*
    File: welcome.class
    Description: Styles the Welcome page (index.html)
    Autors: Nathan Cochran & Oren Kirchoff
    Date: 2022-09-11
*/

/*********************************************
* Base CSS Styles
*********************************************/

