@charset "utf-8";

/*
    File: welcome.class
    Description: Styles the Welcome page (index.html)
    Autors: Nathan Cochran & Oren Kirchoff
    Date: 2022-09-11
*/

/*********************************************
* Base CSS Styles
*********************************************/
body {
    background-color:  #CDF0EA;
}
.ac-container-1 {
    background-color: blue !important;
    width: 100%;
}
#welcome-slogan-container {
    padding-top: 25px;
}
#welcome-slogan-container {
    float: right;
    background-color: red;
}
#welcome-slogan-container h1 {
    font-size: clamp(65px, 15vw, 150px);
    margin: 0px;
    padding: 0px;
    line-height: clamp(65px, 15vw, 150px);
}
#welcome-slogan-container p {
    font-size: 20px;
    margin-top: 0px;
}
#get-started-button {
    background-color: rgb(197, 165, 113);
    border-radius: 5px;
    border: none;
    height: 50px;
}
#get-started-button a {
    text-decoration: none;
    color: black;
}


/**********************************************
* Mobile Styles: 0 to 480px
***********************************************/

@media only screen and (max-width: 480px) {

}

/*********************************************
* Tablet Styles: 481px and greater
**********************************************/

@media only screen and (min-width: 481px) {

}

/*********************************************
* Desktop Styles: 769px and greater
**********************************************/
@media only screen and (min-width: 769px) {

}
