@charset "utf-8";

/*
    File: style.class
    Description: Styles common themes among the Auctus website
    Autors: Nathan Cochran & Oren Kirchoff
    Date: 2022-09-11
*/

/*********************************************
* Base CSS Styles
*********************************************/

/* Basic Styles */
html {
    height: 100%;
}
body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}

/* Styling Fonts */
h1, h2, h3 {
    font-family: 'Courier New';
}
h4, h5, h6 {
    font-family: Helvetica;
}
p, span, li {
    font-family: Arial;
}

/* Styling Header */
header {
    margin: 0px 0px 50px 0px;
    padding: 10px;
    font-size: 5vw;
    background-color: rgb(197, 165, 113);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
header > * {
    display: inline-block;
}

.button-10 {
  background-color: rgb(197, 165, 113);
    border-radius: 100px;

    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-10:focus {

}

/* Styling the Footer **/
footer {
    background-color: rgb(197, 165, 113);
    margin: 0px;
    padding: 25px;
}
.footer-columns {
    display: grid;
}
.footer-column {
    padding: 15px 15px 15px 25px;
}
.footer-column h6 {
    font-size: 18px;
    margin: 5px 5px 5px 0px;
}
.footer-column p {
    margin: 0px 0px 5px 0px;
}
.footer-column a {
    color: black;
}
footer .logoImage {
    width: 125px;
    height: 125px;
}
header .logoImage {
    width: 50px;
    height: 50px;
}
.footer-separator {
    border-top: 2px solid black;
    margin: 25px 0px 25px 0px;
}

/**********************************************
* Mobile Styles: 0 to 480px
***********************************************/

@media only screen and (max-width: 480px) {
    .footer-columns { grid-template-columns: 1fr; }
}

/*********************************************
* Tablet Styles: 481px and greater
**********************************************/

@media only screen and (min-width: 481px) {
    .footer-columns { grid-template-columns: 1fr 1fr; }
}

/*********************************************
* Desktop Styles: 769px and greater
**********************************************/
@media only screen and (min-width: 769px) {
    .footer-columns { grid-template-columns: 2fr 1fr 1fr 1fr; }
}
