@charset "utf-8";

/*
    File: marketplace.css
    Description: Styles the Marketplace page (marketplace.html)
    Autors: Nathan Cochran & Oren Kirchoff
    Date: 2022-25-11
*/

/*********************************************
* Base CSS Styles
*********************************************/
body {
    background-color:  rgb(255, 255, 255);
}

/********************************************* 
* Market Search Bar 
*********************************************/
#search-bar {
    background-color: white;
    height: 50px;
}
#search-bar .search-container {
    float: right;
    border: 1px solid black;
}
#search-bar input[type=text] {
    font-size: 25px;
    height: 50px;
    border: none;
    box-shadow: 1px 1px 1px black;
    padding-left: 15px;
}
#search-bar .search-container button {
    float: right;
    background: #ddd;
    border: none;
    cursor: pointer;
}
#search-bar .search-container button span {
    font-size: 30px;
}

#search-bar .search-container button:hover {
    background: #ccc;
}
@media screen and (max-width: 600px) {
    #search-bar {
        height: 165px;
    }
    #search-bar div > * {
        float: none;
    }
    #search-bar .search-container {
        float: none;
        display: block;
    }
    #search-bar a, #search-bar input[type=text], #search-bar .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    #search-bar input[type=text] {
        width: calc(100% - 30px);
    }
    #search-bar input[type=text] {
        border: 1px solid #ccc;  
    }
}

/*********************************************
* Market Containers
*********************************************/
#market {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap; 
}
.suggested-items {
    flex-basis: 300px;
    min-width: 225px;
    flex-grow: 3;
    flex-shrink: 3;
}
.suggested-items #market-container-suggested {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;  
    padding-right: 25px;
    justify-content: space-around;
}
.trending-items {
    background-color: rgb(203, 189, 157);
    flex-basis: 150px;
    min-width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trending-items h3 {
    margin: 15px 0px 0px 0px;
}
.trending-items .subtitle {
    text-align: center;
    width: 80%;
    color: rgb(109, 25, 25, 0.5);
    font-style: italic; /** ??? Replace with italized font **/
}

/*********************************************
* Market Items
*********************************************/
.market-item {
    width: 200px;
    margin-bottom: 25px;
}
.suggested-items .market-item {
    margin-right: 25px;
}
@keyframes addOverlay {
    0% { 
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
                      url("../ExampleUser/soap.jpg");
     }
     20% { 
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                      url("../ExampleUser/soap.jpg");
     }
     40% { 
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
                      url("../ExampleUser/soap.jpg");
     }
     60% { 
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                      url("../ExampleUser/soap.jpg");
     }
     80% { 
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                      url("../ExampleUser/soap.jpg");
     }
     100% { 
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                      url("../ExampleUser/soap.jpg");
     }
}
.market-item .desc-div {
    background-image: url("../ExampleUser/soap.jpg");
    background-size: cover;
    height: 184px;
    width: 190px;
    padding: 5px 8px 0px 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px rgb(92, 67, 32);
}
.market-item .desc-div p {
    flex-basis: 550px;
    margin: 0px;
    color: rgb(255, 255, 255);
}
.market-item .desc-div:hover {
    animation: addOverlay 0.1s ease-in-out;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.market-item .go-arrow {
    float: right;
    pointer-events: all;
    color: white;
}
.market-item .go-arrow span {
    font-size: 40px;
    position: relative;
    left: -2.5px;
    top: 2.5px;
}
.market-item img {
    position: relative;
    top: 7.5px;
    left: 5px;
    width: 35px;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 25px;
}
.market-item img:hover {
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0, 0.3);
}

.market-item .desc-div:hover p, .market-item .desc-div:hover img, .market-item .desc-div:hover .go-arrow {
    opacity: 0.9;
    transition: opacity 0.1s ease-in-out;
}
.market-item .desc-div:active p, .market-item .desc-div:active img, .market-item .desc-div:active .go-arrow {
    opacity: 0.9;
    transition: opacity 0.1s ease-in-out;
}
.market-item .desc-div p, .market-item .desc-div img, .market-item .desc-div .go-arrow {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}
