@charset "utf-8";

/*
    File: marketplace.css
    Description: Styles the Marketplace page (marketplace.html)
    Autors: Nathan Cochran & Oren Kirchoff
    Date: 2022-25-11
*/

/*********************************************
* Base CSS Styles
*********************************************/
body {
    background-color:  rgb(255, 255, 255);
}

/********************************************* 
* Market Search Bar 
*********************************************/
#search-bar {
    background-color: white;
    height: 50px;
}
#search-bar .search-container {
    float: right;
    border: 1px solid black;
}
#search-bar input[type=text] {
    font-size: 25px;
    height: 50px;
    border: none;
    box-shadow: 1px 1px 1px black;
    padding-left: 15px;
}
#search-bar .search-container button {
    float: right;
    background: #ddd;
    border: none;
    cursor: pointer;
}
#search-bar .search-container button span {
    font-size: 30px;
}

#search-bar .search-container button:hover {
    background: #ccc;
}
@media screen and (max-width: 600px) {
    #search-bar {
        height: 165px;
    }
    #search-bar div > * {
        float: none;
    }
    #search-bar .search-container {
        float: none;
        display: block;
    }
    #search-bar a, #search-bar input[type=text], #search-bar .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    #search-bar input[type=text] {
        width: calc(100% - 30px);
    }
    #search-bar input[type=text] {
        border: 1px solid #ccc;  
    }
}

/*********************************************
* Market Containers
*********************************************/
#market {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap; 
}
.suggested-items {
    flex-basis: 300px;
    min-width: 225px;
    flex-grow: 3;
    flex-shrink: 3;
}
.suggested-items .market-item {
    margin-right: 25px;
}
.suggested-items #market-container-suggested {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;  
    padding-right: 25px;
    justify-content: space-around;
}
.trending-items {
    background-color: rgb(203, 189, 157);
    flex-basis: 150px;
    min-width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trending-items h3 {
    margin: 15px 0px 0px 0px;
}
.trending-items .subtitle {
    text-align: center;
    width: 80%;
    color: rgb(109, 25, 25, 0.5);
    font-style: italic; /** ??? Replace with italized font **/
}
